@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Roboto:ital,wght@0,700;1,500&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1696A;
}
.entry-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.entry-screen > img{
    width: 136px;
}
.entry-screen > h1{
    margin: 13px 0 30px 0;
    font-size: 36px;
    color: white;
    font-family: 'Righteous', cursive;
}
.entry-screen > div:hover{
    background-color: #D93F2C;
    color: white;
}
.entry-screen > div{
    cursor: pointer;
    width: 246px;
    height: 54px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #D93F2C;
    color: #D93F2C;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 36px;
    padding: 20px;
}
.top > img{
    height: 60px;
    margin-right: 10px;
}
.flashcard{
    background-color: white;
    width: 300px;
    height: 65px;
    color: #333333;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Recursive', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    margin: 12.5px 0;
    cursor: pointer;
}
ion-icon[name="play-outline"]{
    font-size: 35px;
}
ion-icon[name="close-circle"]{
    color: red;
    font-size: 25px;
}
ion-icon[name="checkmark-circle"]{
    color: #61BF37;
    font-size: 25px;
}
ion-icon[name="help-circle"]{
    color: #F69131;
    font-size: 25px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    background-color: white;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 10px;
}
footer > p{
    width: 222px;
    margin: 14px 0;
}
footer > div{
    font-weight: bold;
    display: flex;
    align-items: center;
}
footer img{
    margin-right: 12px;
}
.flashcard:last-child{
    margin: 12.5px 0 90px 0;
}
.question{
    background-color: #FEF8D4;
    width: 300px;
    min-height: 131px;
    color: #333333;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    padding: 13px 13px 4px 13px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    margin: 12.5px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.question img{
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 25px;
    cursor: pointer;
}
.question:last-child{
    margin: 12.5px 0 90px 0;
}
.options{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}
.options div{
    border-radius: 5px;
    height: 38px;
    width: 86px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.red-option{
    background-color: #F04732;
}
.orange-option{
    background-color: #F69131;
}
.green-option{
    background-color: #61BF37;
}
.line{
    text-decoration: line-through;
}
.red{
    color: #F04732;
}
.orange{
    color: #F69131;
}
.green{
    color: #61BF37;
}